name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.9

      - uses: actions/setup-node@v3

      - name: Install dependencies
        run: bun install

      - name: Build package
        run: bun run build

      - name: Get version from package.json
        id: package-version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Zip package files
        run: |
          cd dist
          zip -r ../favicon-changer-v${{ steps.package-version.outputs.version }}.zip *

      - name: Create GitHub Releases
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: v${{ steps.package-version.outputs.version }}
          tag_name: v${{ steps.package-version.outputs.version }}
          draft: false
          prerelease: false
          files: |
            favicon-changer-v${{ steps.package-version.outputs.version }}.zip
